.user{

    justify-content: center;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    .user__album_heading{
        width:100%;
    }
    .user__info{
        text-align: center;
        width: 100%;
        margin-bottom:60px;
        .user__info_name{
            margin-bottom:20px;
        }
    }
    .user_album_card {

        border-radius:4px;
        background-color:var(--card-bg);
        margin-bottom:25px;
        float: none;
        width: 340px;
        margin: 15px 15px;
        padding:25px;
        text-decoration: none;
        color: var(--text-dark);
        
        @media only screen and (max-width: 400px) {
            margin: 15px 0px;
        }
        overflow: hidden;
    
  
  }
}