:root {
    --bakgrund: #f8f9fa;
    --cta: #ff7b7b;
    --text-dark:#212529;
    --text-light:rgb(255, 255, 255);
    --light:rgb(255, 255, 255);
    --dark:#212529;
    --text-links:#006ee0;
    --card-bg:#94baf2;
    --slider-bg:rgba(0, 0, 0, 0.904);
  }